<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Ethan Revere Smith
                    </a>
                </li>
                <li>
                    <a href="#">Composer</a>
                </li>
                <li>
                    <a href="#">Software Engineer</a>
                </li>
                <li>
                    <a href="#">Web Development</a>
                </li>
                <li>
                    <a href="#">Work History</a>
                </li>
                <li>
                    <a href="#">Contact Me</a>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Ethan Revere Smith</h1>
                        <h2>Software Engineer. Film Composer. Entreprenuer.</h2>
                        <div class="container-fluid col-lg-8 col-md-12">
                          <p>Welcome to my webpage! My name is Ethan. I am currently enrolled in my final semester at Arizona State University, where I am about to recieve a B.S. in Computer Science.
                            Currently I've been exploring web development with Ruby on Rails. I also have lots of experience with automation scripting.</p>
                          <p>On the side of my education, I am a professional film composer. I write music using state-of-the-art orchestral sampling technology. I've scored over 50 student films including a feature length production.</p>
                          <p>Recently, I co-founded a videography business in the Phoenix area called <b>andorfilm</b>. I built and maintain the company's website, and I market and manage its online presence. I am also the in-house composer and sound designer for all original content.</p>
                          <p>My dream is to find the perfect combination between my skills in programming and my passion for music.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
